{% extends 'base.html' %}
{% block content %}
<p>제목 : {{ article.title }}</p>
<p>내용 : {{ article.content }}</p>
<img src="{{ article.image.url }}" alt="{{ article.image }}">
<p>작성시각 : {{ article.created_at }}</p>
<p>수정시각 : {{ article.updated_at }}</p>
<hr>
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  
  <div class="d-flex justify-content-between">
  <a href="{% url 'articles:update' article.pk %}">
    <button type="button" class="btn btn-primary">
    UPDATE
    </button>
  </a>
  <button class="btn btn-danger">DELETE</button>
  </div>
</form>
<br>
<div class="d-flex justify-content-end">
  <a href="{% url 'articles:index' %}">[back]</a>
</div>
{% endblock content %}