{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'articles/css/style01.css' %}">
{% endblock css %}

{% block content %}
<img src="{% static 'images/main.gif' %}" alt="main img">
<h1>Aricles</h1>
<a href="{% url 'articles:create' %}">[CREATE]</a>
<hr>
{% for article in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ article.title }}<br>
{% endfor %}

{% comment %} {% for article in page_obj %}
  <div class="card" style="width: 18rem;">
  <img src="{{ article.img_thumbnail.url }}" class="card-img-top" alt="{{ article.img_thumbnail }}">
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.content }}</p>
    <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">DETAIL</a>
  </div>
</div>
  <hr>
  {% empty %}
  <p>저장된 글이 없습니다.</p>
{% endfor %} {% endcomment %}

{% bootstrap_pagination page_obj pages_to_show=5 size="large" %}

{% endblock content %}