{% extends 'base.html' %}
{% block content %}
  <h1>Title : {{ article.title }}</h1>
  <p>Content : {{ article.content }}</p>
  <p>created_at : {{ article.created_at }}</p>
  <p>updated_at : {{ article.updated_at }}</p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}">
  {% endif %}
  <hr>
  <a href="{% url 'articles:update' article.pk %}">[Update]</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button>Delete</button>
  </form>
{% endblock content %}